body {
  padding: 50px 0;
  margin: 0 auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
  text-align: center;
  font-family: Arial, sans-serif;
}

header img {
  width: 100%;
  height: auto;
}

header h1 {
  margin-top: 20px;
  font-size: 2em;
  color: #333;
}

main {
  margin-top: 30px;
}

section {
  width: 90%;
  margin: 20px auto;
}

hr {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

/* FOOTER */

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
