* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  min-width: 30vh;
}

h1 {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 0 5px #4caf50;
}

input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 60%;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}

button:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 0 0 5px #4caf4f76;
}
button:active {
  transform: scale(0.95);
}

#change-due,
#cash-in-drawer {
  margin-bottom: 1.5rem;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  #container {
    width: 90%;
    margin-top: 15vh;
  }
}

/* FOOTER */

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
