* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  max-width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

main h1 {
  padding-bottom: 5rem;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 5px #4caf50;
  text-decoration: underline;
}

.searchbox {
  width: 50%;
  font-size: 1.5rem;
  padding: 2rem;
  margin: 0 auto 2rem;
  border-radius: 5px;
  /* background-color: bisque; */
}

.searchbox input,
.searchbox button {
  height: 3rem;
  display: inline;
  vertical-align: top;
  font-family: "Courier New", Courier, monospace;
}

.searchbox input {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.searchbox input:focus {
  outline: none;
  border: 0.2rem solid black;
}

.searchbox button {
  width: max(23%, 10rem);
  color: white;
  background-color: teal;
  text-transform: uppercase;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  min-width: 3vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  cursor: pointer;
}

.searchbox button:hover {
  border: 0.2rem solid black;
  background-color: white;
  color: black;
  transform: scale(95%);
  transition: all 0.2s;
}

.hidden {
  display: none;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem;
}

.definition_hidden {
  display: block;
  width: 40%;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem black;
}

/* FOOTER */

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
