body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 50px;
}

.color-box {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

.color1 {
  background-color: #a7c4bc;
}

.color2 {
  background-color: rgb(255, 165, 0);
}

.color3 {
  background-color: lightcoral;
}

.color4 {
  background-color: hsl(240, 100%, 50%);
}

.color5 {
  background-color: #800080;
}

/* FOOTER */

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
