body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* CONTENT HERE */

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}
