body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: green;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.radio-group {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.radio-group label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.radio-group label:has(input[type="radio"]:checked) {
  color: #007bff;
}

.radio-group input[type="radio"]:checked {
  border: 2px solid #007bff;
  background-color: #e9ecef;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:nth-child(1) {
  border-radius: 8px;
}

legend {
  font-weight: bold;
}

/* FOOTER */

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
