body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  width: 50%;
  border: none;
  border-collapse: collapse;
}

.author,
.category,
.status,
.rate1 {
  width: 16.25%;
}
thead {
  background-image: linear-gradient(
    to top,
    rgb(128, 128, 128),
    rgb(192, 192, 192)
  );
}
tr {
  height: 40px;
}
tr[class="read"] {
  background-image: linear-gradient(to right, #a7c957, #6a994e);
}
tr[class="to-read"] {
  background-image: linear-gradient(to right, #f2e6d9, #d9c4bc);
}
tr[class="in-progress"] {
  background-image: linear-gradient(to right, #e9c46a, #f4a261);
}
span {
  display: inline-block;
}
tr[class="to-read"] span[class="status"] {
  border: 1px solid #d9c4bc;
  background-image: linear-gradient(to right, #f2e6d9, #d9c4bc);
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
tr[class="read"] span[class="status"] {
  border: 1px solid #6a994e;
  background-image: linear-gradient(to right, #a7c957, #6a994e);
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
tr[class="in-progress"] span[class="status"] {
  border: 1px solid #f4a261;
  background-image: linear-gradient(to right, #e9c46a, #f4a261);
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}
span[class="status"],
span[class^="rate"] {
  height: 80%;
  width: 80%;
  padding: 5px;
}
span[class^="rate"] > span {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 2px;
  height: 10px;
  width: 10px;
  background-color: #eee;
}

span[class~="one"] span:first-child {
  background-image: linear-gradient(to right, #ffad42, #ffb44a);
}

span[class~="two"] span:nth-child(-n + 2) {
  background-image: linear-gradient(to right, #ffad42, #ffb44a);
}

span[class~="three"] span {
  background-image: linear-gradient(to right, #ffad42, #ffb44a);
}

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
