body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.blog-post-card {
  background-color: white;
  border-radius: 10px;
  width: 400px;
  text-align: left;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-img {
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.post-content {
  padding: 20px;
}

.post-title {
  color: #333;
  margin: 10px 0;
}

.post-excerpt {
  color: #666;
  margin: 10px 0;
}

.read-more {
  color: white;
  background-color: #007bff;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.read-more:hover {
  background-color: #0056b3;
}

/* FOOTER */

.dot {
  margin: 0 0.25rem;
  color: rgb(28, 26, 26);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

footer p,
footer a {
  display: inline;
  margin: 0 5px;
  color: rgb(28, 26, 26);
}
